.v-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.v-c{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    font-size: 25px;
    background-color: aquamarine;
    border: 1px solid black;
    width: 200px;
    margin: 20px;
}
.v-submit{
    font-size: 17px;
    padding: 15px;
    margin-left: 85px;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 70px;
    /* background-color: red; */
}
.v-logout{
    font-size: 15px;
    padding: 14px;
    width: 100px;
    /* background-color: red; */
}
.v-msg{
    font-size: 50px;
    font-weight: 900;
    color: red;
}